html, body
	height 100%
	margin 0
	padding 0
body
	font font-size-default/1.5 "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
	color text-color-default
	background body-bg-color
h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr
	margin: 0;
	padding: 0;
b
	font-weight 500
a
	color color-main
	text-decoration none
	&:hover, &:focus
		color color-main-hover
	&:focus
		outline none
input
	border none
	outline none
	/*清除移动端默认的表单样式*/
	-webkit-appearance none
/*safari 下 table的滚动条*/
.box
	::-webkit-scrollbar
		-webkit-appearance none
		width 12px
	::-webkit-scrollbar-thumb
		border-radius 12px
		background-color rgba(0,0,0,0.3)
		-webkit-box-shadow 0 0 1px rgba(255,255,255,0.3)
textarea
	resize none

ul, ol, li
	list-style none
table
	border-collapse collapse
p
	display block
	-webkit-margin-before 0em !important
	-webkit-margin-after 0em !important
	-webkit-margin-start 0px !important
	-webkit-margin-end 0px !important
button
	outline-style none
	border 0

/* 重置vconsole样式 ycx add on 2017年9月6日17:55:16*/
#__vconsole
	text-align:left;

.el-pagination
	margin-top space * 2
	&:before, &:after
		display none

.region-selector
	input
		height 30px !important

.selector-in-panel
	border-bottom 1px solid border-color-default
	.region-selector
		font-size 0
		.el-select
			margin 0
			box-sizing border-box
			& + .el-select
				border-left 1px solid border-color-default
		.el-input__inner
			border 0 none
			height 40px !important

.selector-in-form
	.region-selector
		font-size 0
		.el-select
			margin 0
			box-sizing border-box
			& + .el-select
				padding-left space

.highlight-text
	color text-color-highlight
.color-less-text
	color text-color-light
.error-text
	color color-error
a.error-text
	color rgba(color-error, 0.7)
	&:hover
		color color-error

.font-bold
	font-weight font-weight-bold

.fade-enter
	opacity 0
.fade-leave
	opacity 1
.fade-enter-active
	transition 0.3s
.fade-leave-active
	opacity 0
	transition 0.3s

.no-padding
	padding 0 !important

.deal-with
	display inline-block
	padding 0 1em
	&:first-child
		padding-left 0
	&:last-child
		padding-right 0
