.for-agency
	.table-box
		  padding 10px 30px 30px
	.class-table-body
		.el-checkbox__input
			float right
		.el-checkbox__label
			width 76%
			float left
			font-size 12px
			overflow hidden
			text-overflow ellipsis
	.agency-filter
		.el-select
			width 120px
	.area-selector
		display inline-block
	.popper__arrow
		display none
	.search
		width 120px
		display inline-block

	.period-label
		width 25%
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
		margin-left 0

	.class-form
		.el-form-item
			width 50%
			display inline-block
			.el-form-item__content
				.el-select
					&:nth-child(1)
						width 60%
					&:nth-child(2)
						width 30%
	.space-right
		padding-right 0.1rem
	.auto-full
		display table-cell
		width 10000px