.search
	min-width:2.5rem
.fr
	float right
.panel-header
	height 40px
/*还原富文本框样式*/
.edui-default
	line-height: normal;

.for-topic
	.region-selector
		display inline-block
		width auto
		div
			width 1.4rem
		//>div:last-child
		//	margin-right 0
	div
		width 1.4rem
	.el-input
		height 30px
		width 1.4rem
		input
			height 30px !important
	.operations
		width auto
.topic-table
	a
		white-space nowrap
	.cell
		width 100%
		display inline-block

.content-form
	.edui-editor-iframeholder
		min-height 250px
	.el-form
		.el-form-item__label
			white-space nowrap
			//width 140px !important
			font-size font-size-default
			&:before
				content ''!important
		.el-form-item__content
			//margin-left 140px !important
			.el-input
				font-size font-size-default

.edit-box
	.el-form
		.el-form-item__label
			white-space nowrap
			width 120px !important
			font-size font-size-default
			&:before
				content ''!important
		.el-form-item__content
			margin-left 120px !important
			.el-input
				font-size font-size-default

.topic-screen
	margin-bottom space * 1.8
	>div
		width 16.66% !important
	.el-input__icon
		line-height normal

.flex-center
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;

.bottom-info
	margin-top: 60px
	font-size 14px
	color #AAA

.question-view
	img
		max-width 100%