.teaching
	.search-user
		display inline-block
		width 300px
	.classRoom
		background #f3f3f3
		padding-top 20px
		overflow hidden
	.region-selector
		  display inline-block
		&.l-equant-2
			display block
	.table-box
		padding 10px 30px 30px
.editGrade
	.el-form-item__label
		width 90px
	.el-form-item__content
		margin-left 90px
.addStudy
	.el-form-item__content
		margin-left 90px
	.el-form
		.el-form-item__label
			width 90px
	.rule-form2
		overflow hidden
		.el-form-item
			width 48%
			float left
.addGradeTeacher
	.el-dialog
		width 1080px
.checkBox
	.checkLabel
		display inline-block
		margin-right 18px
	.checkList
		display inline-block
		width 89%
		vertical-align top
		.el-checkbox
			width 128px
		.el-checkbox+.el-checkbox
			margin 0
.dialog-small
	.el-dialog
		width 880px
.padd20
	padding 20px
.bcwhite
	background #fff
.setLeaderBox
	background #f3f3f3
.font12
	font-size font-size-samll

.edit-points
	.box-container
		width 100%
		display table
		table-layout fixed
		margin-bottom 10px
	.copy-button, .box
		display table-cell
	.copy-button
		width 186px
		text-align center
		vertical-align middle
		.el-button
			margin-left 0
			& + .el-button
				margin-top space * 2
	.box
		border 1px solid #ccc
		padding 10px 15px
	.btns
		margin-top 30px
	.city-tree
		.icons-plus, .icons-edit
			display none
	.min-height
		min-height 200px
.chapter-tree
	.for-editing
		.icons-delete
			display none