.el-breadcrumb__separator
	margin 0 4px
.el-breadcrumb
	span
		color text-color-light
	.el-breadcrumb__item:last-child
		span
			color bg-color-current !important
			font-weight normal
			cursor default !important
	.el-breadcrumb__inner
		font-weight normal
		&:hover, &:focus
			color text-color-main-hover