@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?v=1523959973');
  src: url('../fonts/iconfont.eot?#iefix?v=1523959973') format('eot'),
    url('../fonts/iconfont.woff?v=1523959973') format('woff'),
    url('../fonts/iconfont.ttf?v=1523959973') format('truetype');
}

.icons {
	font-family: "iconfont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
	font-size: 20px;
  line-height: 1;
  vertical-align: middle;
}

.icons + span {
	vertical-align: middle;
}


.icons-add:before {
	content: "\E001";
}

.icons-admin:before {
	content: "\E002";
}

.icons-allow:before {
	content: "\E003";
}

.icons-back:before {
	content: "\E004";
}

.icons-calendar:before {
	content: "\E005";
}

.icons-chart:before {
	content: "\E006";
}

.icons-close:before {
	content: "\E007";
}

.icons-column:before {
	content: "\E008";
}

.icons-comment:before {
	content: "\E009";
}

.icons-content:before {
	content: "\E00A";
}

.icons-delete:before {
	content: "\E00B";
}

.icons-edit:before {
	content: "\E00C";
}

.icons-export-single:before {
	content: "\E00D";
}

.icons-export:before {
	content: "\E00E";
}

.icons-fold:before {
	content: "\E00F";
}

.icons-forbid:before {
	content: "\E010";
}

.icons-histogram:before {
	content: "\E011";
}

.icons-import-single:before {
	content: "\E012";
}

.icons-import:before {
	content: "\E013";
}

.icons-logout:before {
	content: "\E014";
}

.icons-money:before {
	content: "\E015";
}

.icons-not-allow:before {
	content: "\E016";
}

.icons-off:before {
	content: "\E017";
}

.icons-pay:before {
	content: "\E018";
}

.icons-plus:before {
	content: "\E019";
}

.icons-refresh:before {
	content: "\E01A";
}

.icons-search:before {
	content: "\E01B";
}

.icons-setting-only:before {
	content: "\E01C";
}

.icons-setting:before {
	content: "\E01D";
}

.icons-spread:before {
	content: "\E01E";
}

.icons-system:before {
	content: "\E01F";
}

.icons-user:before {
	content: "\E020";
}