@import "_icons"
@import "_color"
@import "_setting"
@import	"commom"
@import "layout"
@import "components/nav"
@import "components/element"
@import "components/tab"
@import "components/breadcrumb"

@import "pages/content"
@import "pages/users"
@import "pages/teaching"
@import "pages/agencies"
@import "pages/app"
@import "pages/roles"
@import "pages/payEvent.styl"